<div class="footer-top bg-white border mt-5">
  <div class="row">
    <div class="col-md-2 border-right text-center">
      <p class="text-secondary mt-2"> contact us</p>
    </div>
    <div class="col-md-3 border-right text-center">
      <p class="text-secondary mt-2"> there is some contenet it will be shown</p>
    </div>
    <div class="col-md-3 border-right text-center">
      <p class="text-secondary mt-2"> there is some contenet it will be shown</p>
    </div>
    <div class="col-md-1 border-right text-center">
      <i class="fab fa-facebook-f text-warning pt-3"></i>
    </div>
    <div class="col-md-1 border-right text-center">
      <i class="text-warning fab fa-google-plus-g pt-3"></i>
    </div>
    <div class="col-md-1 border-right text-center">
      <i class="text-warning fab fa-twitter pt-3"></i>
    </div>
    <div class="col-md-1 border-right text-center">
      <i class="text-warning fab fa-linkedin-in pt-3"></i>
    </div>
  </div>
</div>
<div class="footer-content bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-white  mt-5 text-uppercase text-center"> featured destinations</p>
        <div class="text-center">
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
        </div>

      </div>
      <div class="col-md-3">
        <p class="text-white  mt-5 text-uppercase text-center"> featured tours</p>
        <div class="text-center">
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
        </div>

      </div>
      <div class="col-md-3">
        <p class="text-white  mt-5 text-uppercase text-center"> featured hotels</p>
        <div class="text-center">
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
          <p class="text-secondary" style="font-size:10px;"> Destination Grid</p>
        </div>
      </div>
      <div class="col-md-3">
        <p class="text-white  mt-5 text-uppercase"> subscribe now</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-location-arrow"></i></span>
          </div>
        </div>
        <div class="mt-3 text-center">
          <span class="circle  text-center text-primary"><i class="fab fa-facebook-f pt-2"></i></span>
          <span class="circle  text-center text-danger"><i class="fab fa-google-plus-g pt-2"></i></span>
          <span class="circle  text-center text-success"><i class="fab fa-google-plus-g pt-2"></i></span>
          <span class="circle  text-center text-warning"><i class="fab fa-google-plus-g pt-2"></i></span>
          <span class="circle  text-center text-secondary"><i class="fab fa-google-plus-g pt-2"></i></span>
        </div>
        <div class="mt-3 text-center mb-2">
          <a class="btn btn-warning d-inline-block text-secondary"><i class="fab fa-apple"></i> Apple Store</a>
          <a class="btn btn-warning d-inline-block ml-2 text-secondary"><i class="fas fa-play"></i> Play Store</a>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom border-top bg-dark">
  <div class="col-md-12 pt-3 pb-2 mb-2 text-center text-secondary">
    copy rights 2018 travel stock || <span class="text-warning"> Themez Hub </span>
  </div>
</div>