<div class="home-banner-image">
  <div class="" style="height:100vh;background-color: rgba(0, 0, 0, 0.5);">

    <!-- navbar -->
    <app-navbar></app-navbar>


    <div class="banner-content ml-5 position-absolute">
      <h2 class="text-white ml-4">DUBAI,THE MOST ATTRACTIVE DESTIANTION</h2>
      <p class="text-white ml-4">220 Hotels - 150 Restraunts</p>
      <a class="btn pink-button text-white ml-4"> Read more</a>

      <!-- banner cards -->
<!-- 
      <div class="card-scrolling">
        <div class="scrolling-wrapper mt-5">
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class=" card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class=" card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class=" card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class=" card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
          <div class="card-box">
            <img class="card-image" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
          </div>
        </div>
      </div> -->
    </div>
  </div>


</div>







<!-- <div class="mt-3 card-box">
      <div class="d-inline-block">
        <div class="card-image d-inline-block">
          <img class="img-fluid" src="assets/8a7e09d5f73dc4d0bad4e173e926d722.jpg">
        </div>
        <div class="card-image d-inline-block">
          <img class="img-fluid" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
        </div>
        <div class="card-image d-inline-block">
          <img class="img-fluid" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
        </div>
        <div class="card-image d-inline-block">
          <img class="img-fluid" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
        </div>
        <div class="card-image d-inline-block">
          <img class="img-fluid" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
        </div>
      </div>
    </div> -->