<div class="home-banner-image position-relative">
  <div class="banner-content ml-5 position-absolute">
    <h2 class="text-white">DUBAI,THE MOST ATTRACTIVE DESTIANTION</h2>
    <p class="text-white">220 Hotels - 150 Restraunts</p>
    <a class="btn pink-button text-white"> Read more</a>
  </div>
</div>

<!-- <div class="mt-5 ml-5  position-absolute">
    <div class="col-md-2 d-inline-block ml-5">
      <img class="img-fluid" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
    </div>
    <div class="col-md-2 d-inline-block ml-5">
      <img class="img-fluid" src="assets/8a7e09d5f73dc4d0bad4e173e926d722.jpg">
    </div>
    <div class="col-md-2 d-inline-block ml-5">
      <img class="img-fluid" src="assets/01494894-21-800x533.jpg">
    </div>
    <div class="col-md-2 d-inline-block ml-5">
      <img class="img-fluid" src="assets/gwalior.jpg">
    </div>
    <div class="col-md-2 d-inline-block ml-5">
      <img class="img-fluid" src="assets/lake-ultra-hd-4k-7f-2880x1800.jpg">
    </div>
    <div class="col-md-2 d-inline-block ml-5">
      <img class="img-fluid" src="assets/Download-desktop-clown-fish-wallpapers-HD.jpg">
    </div>
  </div> -->