.home-banner-image {
    background-image: url('/assets/lake-ultra-hd-4k-7f-2880x1800.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}

.banner-content {
    top: 50%;
    bottom: 50%;
}

/* .card-image {
    height: 140px;
    width: 220px;
    margin-left: 20px;
} */

.pink-color {
    background-color: rgb(255, 55, 148);
}
.text-pink {
    color: rgb(255, 55, 148);
}

/* .scrolling-wrapper {
    overflow-x: scroll;
    width:1700px;
    white-space: nowrap;
 }
  .card-box {
    display: inline-block;
  } */

/* ::-webkit-scrollbar {
    display: none;
  } */

.thumbnail-image img {
    width: 150px;
    height: 100px;
    
}
