<div class="card">
  <div class="card position-relative">
    <div class="corner-box text-white position-absolute text-center pt-2">
      09<br><small>september</small>
    </div>
    <img class="card-img-top" [src]="src" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tourist</h5>
      <p class="card-text">The toursist place where you enjoy and and feel some nature views along with good food and
        trekking,Enjoyment.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>